<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.unice.si5.polytech.createlanguage.design.Activator"
               id="fr.unice.si5.polytech.createlanguage.design"
	       name="createlanguage">
    </component>
  </extension>
</plugin>
